<h2>Active Users</h2>
in last hour : {{ used_service_within_last_hour }} <br>
in last 24 hours : {{ used_service_within_24_hr }} <br>
in last last week : {{ used_service_within_last_week}} <br>
in last last month : {{ used_service_within_last_month }} <br>

<h2>Active Teachers</h2>
in last hour : {{ teacher_used_service_within_last_hour }} <br>
in last 24 hours : {{ teacher_used_service_within_24_hr }} <br>
in last last week : {{ teacher_used_service_within_last_week}} <br>
in last last month : {{ teacher_used_service_within_last_month }} <br>

<h2>Active Parents</h2>
in last hour : {{ parent_used_service_within_last_hour }} <br>
in last 24 hours : {{ parent_used_service_within_24_hr }} <br>
in last last week : {{ parent_used_service_within_last_week}} <br>
in last last month : {{ parent_used_service_within_last_month }} <br>


<h2>Last 24 hours</h2>
user count: {{ today_user_count }} <br>
student count: {{ today_student_count }} <br>
teacher count: {{ today_teacher_count }} <br>
parent count: {{ today_parent_count }} <br>
kelaas count: {{ today_kelaas_count }} <br>
story count: {{ today_story_count }} <br>
conversation messages count: {{ today_message_count }} <br>

<br>


<br><br><br>
<h2>in Total</h2>
user count: {{ user_count }} <br>
student count: {{ student_count }} <br>
teacher count: {{ teacher_count }} <br>
parent count: {{ parent_count }} <br>
kelaas count: {{ kelaas_count }} <br>
kelaas post count: {{ kelaas_post_count }} <br>
story count: {{ story_count }} <br>
conversation messages count: {{ message_count }} <br>

<br>
<br>
user with updated pass: {{ user_with_new_password }}<br>
user with  phone_number: {{ user_with_phone }} <br>