<h2>today</h2>
user count: {{ today_user_count }} <br>
student count: {{ today_student_count }} <br>
teacher count: {{ today_teacher_count }} <br>
parent count: {{ today_parent_count }} <br>
kelaas count: {{ today_kelaas_count }} <br>
story count: {{ today_story_count }} <br>
conversation messages count: {{ today_message_count }} <br>
<br><br><br>
<h2>in Total</h2>
user count: {{ user_count }} <br>
student count: {{ student_count }} <br>
teacher count: {{ teacher_count }} <br>
parent count: {{ parent_count }} <br>
kelaas count: {{ kelaas_count }} <br>
kelaas post count: {{ kelaas_post_count }} <br>
story count: {{ story_count }} <br>
conversation messages count: {{ message_count }} <br>



